<u>
    <h1>Tsoseletso High School - 2008</h1>
</u>
<ul>
    <p>National Senior Certificate (Grade 12)</p>
</ul>
<u>
    <h2>Central University of Technology </h2>
</u>
<ul>
    <p>N.DIP Information Technology (Software Development) - Mar, 2014</p>
    <p>B-Tech Business Administration - Oct, 2021</p>
    <p>Postgraduate certificate in education - May, 2022</p>
    <p></p>
</ul>
<h3>CCNA Routing and switching: Central University of Technology, FS</h3>
<u>
    <h4>Introduction to network</h4>
</u>
<ul>
    <p>•	 Understand and described the device and services used to support communication in data and the internet.</p>
    <p>•	Understand and described the device role of protocol layers in data network.</p>
</ul>
<u>
    <h5>Routing and switching essentials</h5>
</u>
<ul>
    <p>•	Understand and described the device basic switching concepts and the operation of Cisco switches.</p>
    <p>•	Understand and described the device enhance switching technology</p>
    <p>•	Configure and troubleshoot VLANs and inter-clan.</p>
    <p>•	Configure and troubleshoot basic operations in small switched and routed network.</p>
</ul>
<u>
    <h6>Scaling networks</h6>
</u>
<ul>
    <p>•	Configure and troubleshoot enhanced switching technologies such as VLANs, Rapid Spanning Tree Protocol (RSTP), Per VLAN spanning Tree Plus Protocol (PVST+), and Ethernet.</p>
    <p>•	Configure and troubleshoot wireless routers and wireless clients. </p>
    <p></p>
</ul>
<u>
    <h1>connecting networks</h1>
</u>
<ul>
    <p>  •	Different WAN technologies and their benefits.</p>
    <p>•	Configure, and troubleshoot broadband connections, tunnelling operations, network Address Translation (NAT) operations.</p>
</ul>
<u>
    <h2>Duration: 01 July 2016 - 22 July 2016</h2>
</u>

