<div class="navbar">
    <div class="menu">
        <div class="menu-item">
            <img class="avatar mat-elevation-z8" [src]="imageSrc" align="center" style="max-height: 250px;" />
            <h4 class="Name">Nomsa Dorothy Segopolo</h4>
            <p class="Designation">Software Developer</p>
            <button mat-button class="menu-button" [routerLink]="['/home']">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/education']">
                <mat-icon>school</mat-icon>
                <span>Education</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/experience']">
                <mat-icon>work</mat-icon>
                <span>Experience</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/certificates']">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <span>Certificates</span>
            </button>
        </div>
    </div>
</div>