@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

*{
    font-family: 'inter' san-serif;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    background-color: purple;
    width: 16px;
    border-right: none;
    border-radius: 10px;
    color: pink;
    padding: 16px;
    text-align: center;
}
mat-icon{
    color: black;
    font-family: 'Material icons';
    vertical-align: middle;
}
.top{
    margin-top: 15px;
    padding: 8px;
    margin-left: 160px;
    font-size: 30px;
}
.user{
    text-align: center;
    font-weight: 800;
    margin-top: 50px;
    img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
    }
    .name{
        color: black;
    }
    .mail{
        margin-top: -10px;
        color: #697d95;
    }
}
.menu-head{
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 20px;
}
.menu-item{
    margin: 0 10px 0 10px;
    .menu-button{
        display: block;
        width: 100%;
        position: relative;
        display: flex;
        padding-left: 40px;
        margin-bottom: 10px;
    }
    .menu-button span{
        margin-left: 15px;
        color: black;
    }
    .menu-button:hover{
        background: pink;
    }
    .menu-button:focus{
        background: palevioletred;
    }
}