<h1>WORK EXPERIENCE</h1>

<table>
    <thead>
        <th>Job Title</th>
        <th>Company Name</th>
        <th>Date</th>
    </thead>
    <tbody>
        <tr>
            <td>Software Developer intern</td>
            <td>SITA</td>
            <td>2021/FEB/01 - 2022/JAN/31</td>
        </tr>
        <tr>
            <td> Software Developer Experiential Trainee </td>
            <td>SITA</td>
            <td>2022/FEB/01 - 2023/JAN/31</td>
        </tr>
    </tbody>
</table>
<br>
<h1>TECHNICAL EXPERIENCE</h1>
<table>
    <thead>
        <th>Languages</th>
        <th>Platforms</th>
        <th>Leaning</th>
    </thead>
    <tbody>
        <tr>
            <td>Microsoft visual studio 2008/2010 C#</td>
            <td>Java</td>
            <td>JvaScript</td>
        </tr>
        <tr>
            <td>Microsoft Visual Studio 2010 & 2012</td>
            <td>Eclipse (Android)</td>
            <td>TypeScript</td>
        </tr>
        <tr>
          
            
        </tr>
    </tbody>
</table>