<mat-sidenav-container class="container">
    <mat-sidenav #sidebar mode="side" opened>
        <app-sidebar></app-sidebar> 
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                    <div class="box">
                        <button mat-button class="menu-button" >
                        <a href="https://www.linkedin.com/in/nomsa-dorothy-segopolo-35392a141/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </button>
                        <button mat-button class="menu-button" >
                        <a href="http://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        </button>
                        <button mat-button class="menu-button" >
                        <a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </button>
                        <button mat-button class="menu-button" >
                        <a href="http://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        </button>
                    </div>
                </mat-toolbar>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
