
mat-sidenave{
    background: purple;
    width: 230px;
    height: 100%;
    margin: 16px;
    color: white;
}
mat-sidenav-content{
    height: 100vh;
    
    .main{
        margin-left: 30px;
    }
}
mat-toolbar{
    background-color: purple;
    mat-icon{
        margin-left: 15px;
        color: pink;
    }
    i{
        margin-left: 15px;
        margin-top: 15px;
    }
    justify-content: space-between;
    .box{
        margin-top: 15px;
        ;
    }
}