<div>
    <button mat-button class="menu-button" [routerLink]="['/matric']">
        <span>Matric</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['/diploma']">
        <span>Diploma</span>
    </button>
    <button mat-button class="menu-button">
        <a href="https://www.credly.com/earner/earned">
            <span>IBM Badges</span>
        </a>
    </button>
    <button mat-button class="menu-button" [routerLink]="['/sas']">
        <span>SAS</span>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">CCNA</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/ccna1']"> CCNA 1- Introduction to Networks</button>
      <button mat-menu-item [routerLink]="['/ccna2']">CCNA 2- Routing and Switching Essentials</button>
       <button mat-menu-item [routerLink]="['/ccna3']">CCNA 3- Connecting Networks</button>
      <button mat-menu-item [routerLink]="['/ccna4']">CCNA 4- Scaling Networks</button>
    </mat-menu>
</div>