<img  [src]="imageSrc" align="left" style="max-height: 350px;" />
<h1>About me</h1>
<p>_____________________________________________________________________</p>
<p>Hi, I am Nomsa Dorothy Segopolo</p>
<p>I am currently a Development Software experiantial trainee At State Information Technology Agency(SITA).</p>
<p>Graduated with National Dploma in Information Technology (Development Software), B-Tech in Business </p>
<p>Administration and Post Graduate Certificate in Education. </p>
<p>I am ambitious and prepared to achieve the desired goals of beign a developer. I am a hardwork, self-motivated,</p>
<p>goal oriented individual who is currently seeking for oppotunities that will allow me to grow, learn and apply the knowledge i have</p>